<div [ngClass]="styleClass || {'h-100': maxHeight}" style="position: relative">
  <div [cgBusyConfig]="{templateRef: customTemplate, message:'', backdrop: false}" [cgBusy]="busyPromise">
    <ng-content></ng-content>
  </div>
</div>

<ng-template #customTemplate let-options="options">
  <div *ngIf="busy" class="ng-busy">
    <mat-spinner class="stay-screen-middle" style="display: inline-block !important;"  [attr.diameter]="diameter ?? null"></mat-spinner>
    <p *ngIf="showText" class="busy-text">
      {{busyText}}
    </p>
  </div>
</ng-template>
